@model CW.Models.Transport

@{
    ViewData["Title"] = "Add new transport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Add new transport</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <select asp-for="BrandId" class ="form-control" asp-items="ViewBag.BrandId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BusType" class="control-label"></label>
                <select asp-for="BusTypeId" class ="form-control" asp-items="ViewBag.BusTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SeatCount" class="control-label"></label>
                <input asp-for="SeatCount" class="form-control" />
                <span asp-validation-for="SeatCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelName" class="control-label"></label>
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerKm" class="control-label"></label>
                <input asp-for="PricePerKm" class="form-control" />
                <span asp-validation-for="PricePerKm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success" />
                <a asp-action="CreateBrand" class="btn btn-outline-primary" >Add new brand</a>
                <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
            </div>

        </form>
    </div>
</div>



